asgiref==3.9.1
click==8.2.1
Django==5.2.4
joblib==1.5.1
pytest
pytest-django
nltk==3.9.1
numpy==2.2.6
pandas==2.3.1
PyMySQL==1.1.1
PyPDF2==3.0.1
python-dateutil==2.9.0.post0
pytz==2025.2
regex==2025.7.31
scikit-learn==1.6.1
scipy==1.15.3
six==1.17.0
sqlparse==0.5.3
threadpoolctl==3.6.0
tqdm==4.67.1
tzdata==2025.2

django-prometheus==2.3.1