{% extends 'base.html' %}
{% block title %}Accueil - SNDP Agil{% endblock %}

{% block content %}
<div class="text-center mb-5">
  <h1 class="display-5 fw-bold text-dark">Bienvenue sur la plateforme SNDP Agil Energy</h1>
  <p class="lead text-muted">La Société Nationale de Distribution des Pétroles Agil Energy S.A. est une entreprise publique ayant pour mission la commercialisation des produits pétroliers et de leurs dérivés sous le label Agil Energy. Elle fait partie des grandes entreprises publiques tunisiennes qui, par leur dynamisme et la diversité de leurs activités, soutiennent l’économie nationale et lui assurent une croissance continue. Avec un chiffre d’affaires HT de 1 845 millions de dinars en 2020, Agil Energy S.A. joue un rôle d’avant-garde sur la voie du progrès et de l’excellence dans laquelle s’est engagée la Tunisie de l’ère nouvelle.

En développant ses activités, Agil Energy S.A. a fini par occuper la première place parmi les entreprises du secteur, tant par le volume de ses ventes que par l’importance de son chiffre d’affaires et le savoir faire de ses ressources humaines et s’emploie constamment à consolider cette position en offrant à ses clients la meilleure qualité de produit et de service.

Agil Energy S.A. est présente partout à travers ses 216 stations-service réparties sur tout le territoire tunisien, ses 54 stations portuaires et ses 6 dépôts aéroportuaires.</p>
</div>

</div>
{% endblock %}
